@import "tailwindcss";

/* Cascadia Code Font */
@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/fonts/CascadiaCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/fonts/CascadiaCode-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
  font-style: italic;
  font-display: swap;
}
/* Set default font */
html {
  font-family: 'Cascadia Code', ui-monospace, monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* black background */
}

.hero-glow {
  text-shadow:
    0 0 10px rgba(236, 72, 153, 0.5),
    0 0 20px rgba(236, 72, 153, 0.3);
}